@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  header ul {
    list-style: none;
  }

  h1 {
    @apply text-2xl font-extrabold;
  }

  h2 {
    @apply text-xl font-slab font-bold;
    font-family: 'Roboto Slab';
  }

  strong {
    @apply font-semibold;
  }

  pre {
    @apply p-1 bg-gray-300 text-black;
  }

}

.primary-btn {
  @apply items-center gap-2 px-4 py-2 rounded transition bg-blue-600 hover:bg-blue-800 text-white;
}

.secondary-btn {
  @apply items-center space-x-3 rounded border border-blue-600 px-4 py-2 hover:bg-blue-700 hover:text-white;
}
